
viperlib/__pycache__/__init__.cpython-37.pyc
viperlib/src/__pycache__/__init__.cpython-37.pyc
viperlib/src/__pycache__/creds.cpython-37.pyc
viperlib/src/__pycache__/jsd.cpython-37.pyc
*.pyc
*.pyc
viperlib/src/__pycache__/jsd.cpython-37.pyc
viperlib/src/__pycache__/misc.cpython-37.pyc
viperlib/__pycache__/__init__.cpython-37.pyc
viperlib/src/__pycache__/__init__.cpython-37.pyc
viperlib/src/__pycache__/misc.cpython-37.pyc
viperlib/tests/__pycache__/test_viperlib_creds.cpython-37-PYTEST.pyc
viperlib/tests/__pycache__/test_viperlib_misc.cpython-37-PYTEST.pyc
